*.log
*.env
*tmp_data/*
/src/data/*
/src/store/*.xml
*.sqlite3
/venv
/src/store/*
/src/result/
/src/orchestrator/temp_data/*
/src/job_data/*
/tmp
/src/config/certificates/id_rsa*
/src/config/certificates/public.pub
/src/config/certificates/public_key.pub
/src/config/certificates/public_key.pem
/pid.txt
